.o-pageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100%;
}



.o-row {
  position: relative;

  display: grid;
  grid-gap: 0;
  grid-template-areas: 'row-space-left row-content row-space-right';
  grid-template-columns:
    minmax(var(--layout-space--x), 1fr) minmax(var(--content-minwidth), var(--content-maxwidth)) minmax(var(--layout-space--x), 1fr);

  width: 100%;
}



@mixin content--centered {
  grid-area: row-content;
  justify-items: stretch;
  align-items: stretch;
}



@mixin content--fullwidth {
  grid-column: 1 /span 3;
  justify-items: stretch;
  align-items: stretch;
}